.react-json-view {
  min-height: 96px;
  word-break: break-all;
  -ms-word-break: break-all;

  .copy-to-clipboard-container {
    vertical-align: top;
    display: none;
  }

  .object-key-val {
    &:hover > span > .object-meta-data {
      & > .copy-to-clipboard-container {
        display: inline-block;
      }
    }
  }

  .variable-row {
    &:hover {
      & .copy-to-clipboard-container {
        display: inline-block;
      }
    }
  }
}
